# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# User uploads (sensitive)
Loan_Management_System2/Authentication/static/uploads/

# VS Code
.vscode/

# pyenv
pyvenv.cfg
Loan_Management_System2/Loans/__pycache__/routes.cpython-313.pyc
.gitignore
Loan_Management_System2/Authentication/__pycache__/login.cpython-314.pyc
